<head>
    <meta charset="{{site.encoding}}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="robots" content="index">
  
    <title>{{ site.title }} | {{ site.subtitle }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
  
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/charles-cantin.png">  

    <link rel="author" href="{{ site.author }}">

    <meta name="google-site-verification" content="{{ site.google-site-verification }}">
  
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Favicons -->
    <link href="{{ site.url }}/assets/img/favicon.png" rel="icon">
    <link href="{{ site.url }}/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    {% include styles.html %}

    {% if site.google-analytics %} {% include google_analytics.html %} {% endif %}
</head>