<header id="header" class="fixed-top" itemscope itemtype="http://schema.org/WPHeader">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <h1 class="logo me-auto me-lg-0" itemprop="headline">
      <a href="/" class="logo">
        <img src="{{site.url}}/assets/img/logo.png" alt="" class="img-fluid">
      </a>
    </h1>

    {% include navigation.html %}

    <div class="header-social-links">
      {% if site.social and site.social.twitter_username %}
      <a href="https://twitter.com/{{site.social.twitter_username}}" class="twitter"><i class="fa-brands fa-twitter"></i></a>
      {% endif %}
      {% if site.social and site.social.facebook_username %}
      <a href="https://facebook.com/{{site.social.facebook_username}}" class="facebook"><i class="fa-brands fa-facebook"></i></a>
      {% endif %}
      {% if site.social and site.social.instagram_username %}
      <a href="https://instagram.com/{{site.social.instagram_username}}" class="instagram"><i class="fa-brands fa-instagram"></i></a>
      {% endif %}
      {% if site.social and site.social.linkedin_username %}
      <a href="https://linkedin.com/{{site.social.linkedin_username}}" class="linkedin"><i class="fa-brands fa-linkedin"></i></i></a>
      {% endif %}
    </div>
  </div>
</header>