<link href="{{ site.url }}/assets/vendor/aos/aos.css" rel="stylesheet">
<link href="{{ site.url }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link href="{{ site.url }}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="{{ site.url }}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="{{ site.url }}/assets/css/style.css" rel="stylesheet">